[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
fastcore = "*"
torchvision = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
nbdev = "*"
pytorch-lightning = "*"
pre-commit = "*"
ipykernel = "*"
matplotlib = "*"
einops = "*"
torchmetrics = "==1.1.0"
scikit-learn = "==1.1.0"

[dev-packages]
vit-pytorch = {editable = true, path = "."}

[requires]
python_version = "3.9"
